@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 5% 0;
}

.navbar {
    background-color: #e3f2fd;
    font-weight: bold;
}
#myBtnContainer {
  overflow: hidden;
}

.filterDiv {
  float: left;
  
  /* background-color: #2196F3; */
  /* color: #ffffff; */
  width: 100%;
  /* line-height: 100px; */
  /* text-align: center; */
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.mybtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  /* background-color: ; */
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.mybtn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.mybtn.active {
  background-color: #666;
  color: white;
}